.underline {
    text-decoration: underline;
}

// Not sure why new versions aren't exporting this anymore
// Maybe it's not a face anymore, but it's a container
// Check the bg and fg values and change them here
//https://github.com/doomemacs/themes/blob/535800fd6ca7f5af56f7aa3d0e8f46fef8b7999b/themes/doom-one-theme.el#L48
.org-src-container {
  background-color: #282c34;
  color: #bbc2cf;
}

.org-src-container {
    overflow: auto;
    margin-bottom: 2em;
    padding: 0 1em;
    font-size: 0.9em;
}

.org-src-container + .org-src-container {
    margin-top: -1.5em;
}

// Workaround to hide figure_numbers in captions
.figure-number, .listing-number {
    display: none;
}

// Override some syntax rules
.org-comment {
  color: #949494;
}

.org-comment-delimiter {
  color: #949494;
}

.figure {
  // Image Caption
  p:last-child {
    text-align: center;
    font-style: italic;
    margin: auto;
    width: 80%;
    font-size: 0.95em;
    margin-bottom: 1em;
    margin-top: -1em;
  }

  // Undo the first rule when there are no captions
  p:first-child {
    width: 100%;
  }
}
