.org-bold {
  /* bold */
  font-weight: bold;
}
.org-builtin {
  /* font-lock-builtin-face */
  color: #c678dd;
}
.org-clojure-keyword {
  /* clojure-keyword-face */
  color: #a9a1e1;
}
.org-comment {
  /* font-lock-comment-face */
  color: #5B6268;
}
.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #5B6268;
}
.org-constant {
  /* font-lock-constant-face */
  color: #a9a1e1;
}
.org-css-property {
  /* css-property */
  color: #98be65;
}
.org-css-selector {
  /* css-selector */
  color: #51afef;
}
.org-diff-added {
  /* diff-added */
  color: #98be65;
  background-color: #21242b;
}
.org-diff-context {
  /* diff-context */
  color: #a4aab6;
}
.org-diff-indicator-added {
  /* diff-indicator-added */
  color: #22aa22;
  background-color: #21242b;
}
.org-diff-indicator-removed {
  /* diff-indicator-removed */
  color: #aa2222;
  background-color: #23272e;
}
.org-diff-removed {
  /* diff-removed */
  color: #ff6c6b;
  background-color: #23272e;
}
.org-doc {
  /* font-lock-doc-face */
  color: #83898d;
}
.org-function-name {
  /* font-lock-function-name-face */
  color: #c678dd;
}
.org-highlight-numbers-number {
  /* highlight-numbers-number */
  color: #da8548;
  font-weight: bold;
}
.org-highlight-quoted-quote {
  /* highlight-quoted-quote */
  color: #51afef;
}
.org-highlight-quoted-symbol {
  /* highlight-quoted-symbol */
  color: #ECBE7B;
}
.org-keyword {
  /* font-lock-keyword-face */
  color: #51afef;
}
.org-negation-char {
  /* font-lock-negation-char-face */
  color: #51afef;
  font-weight: bold;
}
.org-rainbow-delimiters-depth-1 {
  /* rainbow-delimiters-depth-1-face */
  color: #51afef;
}
.org-rainbow-delimiters-depth-2 {
  /* rainbow-delimiters-depth-2-face */
  color: #c678dd;
}
.org-rainbow-delimiters-depth-3 {
  /* rainbow-delimiters-depth-3-face */
  color: #98be65;
}
.org-rainbow-delimiters-depth-4 {
  /* rainbow-delimiters-depth-4-face */
  color: #a9a1e1;
}
.org-rainbow-delimiters-depth-5 {
  /* rainbow-delimiters-depth-5-face */
  color: #4db5bd;
}
.org-rainbow-delimiters-depth-6 {
  /* rainbow-delimiters-depth-6-face */
  color: #51afef;
}
.org-regexp-grouping-backslash {
  /* font-lock-regexp-grouping-backslash */
  color: #51afef;
  font-weight: bold;
}
.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
  color: #51afef;
  font-weight: bold;
}
.org-sh-escaped-newline {
  /* sh-escaped-newline */
  color: #98be65;
}
.org-shinning {
  /* shinning-face */
  color: #ff0000;
  background-color: #ffffff;
}
.org-string {
  /* font-lock-string-face */
  color: #98be65;
}
.org-type {
  /* font-lock-type-face */
  color: #ECBE7B;
}
.org-variable-name {
  /* font-lock-variable-name-face */
  color: #dcaeea;
}
