/*- Custom style -*/

// -- Put custom style under this point -- //
.underline {
    text-decoration: underline;
}

.org-src-container {
    overflow-y: auto;
    margin-bottom: 2em;
    padding: 0 1em;
    font-size: 0.9em;
}

.org-src-container + .org-src-container {
    margin-top: -1.5em;
}

#icons {
  a + a  {
    margin-left: 20px;
  }
}

// Workaround to hide figure_numbers in captions
.figure-number {
    display: none;
}

.icon-play {
  position: relative;
  z-index: 1
}

.metro-animation {
  margin-top: -20px;
  display: flex;
  height: 300px;
}


// Metro style
.metro-graph {
  position: relative;
  z-index: 0;
  margin-top: -20px;
  width: 47%;
  height: 100%;
  display: inline-block;
}

.metro-git-container {
  font-family: 'Source Code Pro', monospace;
  width: 45%;
  height: 100%;
  overflow: auto;

  display: flex;
  justify-content: center;
  flex-direction: column;

  span {
    display: inline-block;
  }
}
