.org-src-container {
  color: #FDF4C1;
  background-color: #282828;
}

.org-builtin {
  /* font-lock-builtin-face */
  color: #FE8019;
}

.org-comment {
  /* font-lock-comment-face */
  color: #7C6F64;
}

.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #4f5b66;
}

.org-function-name {
  /* font-lock-function-name-face */
  color: #A89984;
}

.org-keyword {
  /* font-lock-keyword-face */
  color: #DD6F48;
}

.org-rainbow-delimiters-depth-1 {
  /* rainbow-delimiters-depth-1-face */
  color: #5C7E81;
}

.org-rainbow-delimiters-depth-2 {
  /* rainbow-delimiters-depth-2-face */
  color: #837486;
}

.org-string {
  /* font-lock-string-face */
  color: #528B8B;
}

.org-type {
  /* font-lock-type-face */
  color: #66999D;
}

.org-variable-name {
  /* font-lock-variable-name-face */
  color: #83A598;
}