.org-src-container {
  color: #d8d8d8;
  background-color: #181818;
}

.org-keyword {
  /* font-lock-keyword-face */
  color: #ba8baf;
}

.org-variable-name {
  /* font-lock-variable-name-face */
  color: #86c1b9;
}

.org-type {
  /* font-lock-type-face */
  color: #f7ca88;
}

.org-function-name {
  /* font-lock-function-name-face */
  color: #7cafc2;
}

.org-rainbow-delimiters-depth-1 {
  /* rainbow-delimiters-depth-1-face */
  color: #ba8baf;
}

.org-rainbow-delimiters-depth-2 {
  /* rainbow-delimiters-depth-2-face */
  color: #7cafc2;
}

.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #383838;
}

.org-comment {
  /* font-lock-comment-face */
  color: #585858;
}

.org-builtin {
  /* font-lock-builtin-face */
  color: #86c1b9;
}

.org-highlight-numbers-number {
  /* highlight-numbers-number */
  color: #dc9656;
}

.org-string {
  /* font-lock-string-face */
  color: #a1b56c;
}